@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;800&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--pale-blue);
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 85%;
    background-color: #fff;
    border-radius: 15px;
}

.text h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.illustration_hero{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.text{
    padding: 30px 35px;
    text-align: center;
}

.paragraph{
    margin: 30px 0;
    font-size: 0.9rem;
    color: var(--desaturated-blue);
}

.music_plan{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}

.plan{
    margin-bottom: 30px;
    background-color: var(--very-pale-blue);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-size: .9rem;
}

.description_plan{
    margin-left: 16px;
}

.anual_plan{
    font-weight: bold;
}

.value{
    color: var(--desaturated-blue);
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.proceed{
    background-color: var(--bright-blue);
    color: #FFF;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cancel{
    color: var(--desaturated-blue);
    font-weight: bold;
}

.buttons a{
    text-decoration: none;
}

footer{
    margin: 20px;
}


@media screen and (min-width: 768px){ 
    .container{
        background-color: var(--pale-blue);
        background-image: url('../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-position: initial;
        background-size: auto;
    }
    
    .content{
        width: 25%;
    } 
}



